// Place all the styles related to the Mods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mods-table {
  th {
    padding-right: 2px;
    padding-left: 2px;
  }
  td {
    padding-left: 2px;
    padding-right: 2px;
  }
}