// Place all the styles related to the Play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.stats_table {
}
.stats{
  padding: 10px;
}

.stat_bar {
  background-color: black;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  height: 15px;
  margin-bottom: 10px;
}

.stat_bar > div {
   background-color: #ED2431;
   /* Adjust with JavaScript */
   height: 9px;
   border-radius: 10px;
}

#stat_health > div
{
  background-color: #68DB37;
}

.personal_info {
  background-color: white;
  padding: 10px;
  text-align: center;
  border:1px solid #ccc;
}
.running_text {
    background-color: black;
    color: white;
    border:1px solid #ccc;
}

.affix {
  top: 0px;
  width:100%;
}

.navbar-form {
   padding-left: 0;
}

.navbar-collapse{
   padding-left:0; 
}

.no-bottom{
    margin-bottom: 0px;
}
.navbar-lower {
  z-index: 10;
}